<?xml version="1.0" encoding="utf-8"?>
<component name="Settings" extends="JFScreen">
  <interface>
    <field id="restoreMiniPlayerOnClose" type="boolean" value="false" />
    <function name="showFriendsPanel" />
  </interface>

  <children>
    <Rectangle id="scrim" width="1920" height="1080" color="#000000" opacity="0.54" />

    <Group id="panel" translation="[1219, 0]">
      <!-- Wider than the screen leaves, so only the left corners show rounded -->
      <Poster id="panelFill" uri="pkg:/images/settings/card27.9.png" width="729" height="1080" />
      <Group id="listGroup" translation="[0, 93]">
        <SettingsScroller id="settingsMenu" />
      </Group>
      <SettingsTitleBar id="titleBar" />
    </Group>

    <ColorGrid
      id="colorgrid"
      translation="[60, 400]"
      itemComponentName="ColorOption"
      numColumns="15"
      numRows="9"
      rowHeights="[50]"
      visible="false"
      vertFocusAnimationStyle="fixed"
      itemSize="[50, 50]"
      itemSpacing="[20, 20]"
      drawFocusFeedback="true" />

    <IntegerKeyboard translation="[500, 400]" id="integerSetting" domain="numeric" visible="false" />
    <Timer id="keypressTimer" duration="5" />
    <Timer id="sliderSaveTimer" duration="0.5" />

    <Animation id="openAnim" duration="0.22" easeFunction="outCubic">
      <Vector2DFieldInterpolator key="[0.0, 1.0]" keyValue="[[1920, 0], [1219, 0]]" fieldToInterp="panel.translation" />
      <FloatFieldInterpolator key="[0.0, 1.0]" keyValue="[0.0, 1.0]" fieldToInterp="panel.opacity" />
      <FloatFieldInterpolator key="[0.0, 1.0]" keyValue="[0.0, 0.54]" fieldToInterp="scrim.opacity" />
    </Animation>
    <Animation id="closeAnim" duration="0.22" easeFunction="inCubic">
      <Vector2DFieldInterpolator key="[0.0, 1.0]" keyValue="[[1219, 0], [1920, 0]]" fieldToInterp="panel.translation" />
      <FloatFieldInterpolator key="[0.0, 1.0]" keyValue="[1.0, 0.0]" fieldToInterp="panel.opacity" />
      <FloatFieldInterpolator key="[0.0, 1.0]" keyValue="[0.54, 0.0]" fieldToInterp="scrim.opacity" />
    </Animation>
    <Animation id="pushAnim" duration="0.16" easeFunction="outCubic">
      <Vector2DFieldInterpolator key="[0.0, 1.0]" keyValue="[[48, 93], [0, 93]]" fieldToInterp="listGroup.translation" />
      <FloatFieldInterpolator key="[0.0, 1.0]" keyValue="[0.0, 1.0]" fieldToInterp="listGroup.opacity" />
    </Animation>
    <Animation id="popAnim" duration="0.13" easeFunction="outCubic">
      <Vector2DFieldInterpolator key="[0.0, 1.0]" keyValue="[[-48, 93], [0, 93]]" fieldToInterp="listGroup.translation" />
      <FloatFieldInterpolator key="[0.0, 1.0]" keyValue="[0.0, 1.0]" fieldToInterp="listGroup.opacity" />
    </Animation>
  </children>
</component>
